//IMPORT
//-----------------------------
@import 'breakpoints';
@import 'placeholders/placeholders';
@import 'css-mixins/css-mixins';
//-----------------------------


//VARAIBLES
//-----------------------------
//Dimensions and general settings
$containerWidth: 15rem;
$containerPadding: 0.5rem;

//Dialog Style
$dialogBackgroundColor: rgba(221, 221, 221, 0.5);
$containerBackgroundColor: #ffffff;
$containerBorder: 0.1rem solid #ebebeb;
$containerBorderRadius:  0.5rem;
$containerBoxShadow: 0 0 0.5rem 0px rgba(128, 128, 128, 0.5);
//Dialog focus outline
$focusOutline: none;

//Dismiss button position
$dismissBtnTop: 0.3rem;
$dismissBtnRight: 0.3rem;


//Alert dialog style
$containerAlertBackgroundColor: #ffffff;
$containerAlertBorder: 0.1rem solid #830909;
$containerAlertBorderRadius:  0.5rem;
$containerAlertBoxShadow: 0 0 0.5rem 0px rgba(145, 20, 20, 0.5);
//-----------------------------


//CSS STYLES
//-----------------------------

//BLOCK
//-----------------------------
.dialog {
  background-color: $dialogBackgroundColor;
  @extend %bottom-0;
  display: none; //do not change this rule!
  @extend %left-0; 
  @extend %position-fixed;
  @extend %right-0;
  @extend %top-0;
  @extend %width-100;
} //do not change this rule!
 
//ELEMENTS
//-----------------------------
.dialog__wrapper {
  left: 50%;
  @extend %max-width-100;
  @extend %position-fixed;
  top: 50%;
  @include translate(-50%, -50%);
  width: $containerWidth;
  &:focus {
    outline: $focusOutline;
  }
} //do not change this rule!

.dialog__container {
  background-color:$containerBackgroundColor;
  border: $containerBorder;
  border-radius: $containerBorderRadius;
  @include box-shadow($containerBoxShadow);
  padding: $containerPadding;
  position: relative;  //do not change this rule!
  width: $containerWidth;
}

.dialog__header {
  //
}

.dialog__heading {
  //
}
.dialog__dismiss-btn {
  @extend %position-absolute;
  right: $dismissBtnRight;
  top: $dismissBtnTop;
}

.dialog__body {
  //
}

.dialog__options {
  //
}

.dialog__option-btn {
  //
}

//MODIFIERS
//-----------------------------
.dialog__container_alert {
  background-color: $containerAlertBackgroundColor;
  border: $containerAlertBorder;
  border-radius: $containerAlertBorderRadius;
  @include box-shadow($containerAlertBoxShadow);
}

.dialog__header_alert {
  //
}

.dialog__heading_alert {
  //
}
.dialog__dismiss-btn_alert {
  //
}

.dialog__body_alert {
  //
}

.dialog__options_alert {
  //
}

.dialog__option-btn_alert {
  //
}
