//----------------
//ELEMENTS
//----------------

.dialog__window {
  position  : relative;
  box-shadow: $dialog__window--box-shadow;
  @include background($dialog__window--background);
  @include border($dialog__window--border);
  @include sizes($dialog__window--sizes);
  @include mqMin ("w3") {
    transform: translateY(-3vh);
  }
}

.dialog__container {
  @include padding($dialog__container--padding);
}

.dialog__header {
  //
}

.dialog__heading {
  //
}

.dialog__dismiss-btn {
  position: absolute;
  top     : $dialog__dismiss-btn--top;
  right   : $dialog__dismiss-btn--right;
  @include sizes($dialog__dismiss-btn--sizes);
}

.dialog__body {
  //
}

.dialog__options {
  //
}

.dialog__option-btn {
  //
}
