//----------------
//BLOCK
//----------------

.dialog {
  @include background($dialog--background);
  display : flex;
  position: fixed;
  @include flexPositioning($dialog--flexPositioning);
  @include sizes($dialog--sizes);
  left    : 0;
  top     : 0;
  z-index : zIndex('dialogModal');
}
