.dialog {
  background: rgba(34, 34, 34, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.dialog__wrapper {
  background: #fff;
  border: 0.01rem solid #c7c7c7;
  max-width: 20rem;
  position: relative;
}

.dialog__container {
  padding: 1rem;
}

.dialog__heading {
  margin: 0;
}

.dialog__dismiss-btn {
  right: 1rem;
  top: 1rem;
  position: absolute;
}
