/*
.demo {
    background-color: red;
    @include mqMin(w4) {
	    background-color: blue;
	}
}
*/
/*
.demo {
    background-color: red;
    @include mqMax(w4) {
	    background-color: blue;
	}
}
*/
/*
.demo {
    background-color: red;
    @include mqRange(w2, w4) {
	    background-color: blue;
	}
}
*/
.dialog {
  background-color: rgba(30, 30, 30, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 500;
}

.dialog__window {
  -webkit-box-shadow: 0 0 0.2rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0.2rem 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-color: #cbcbcb;
  border-radius: 0.2rem;
  border-style: solid;
  border-width: 0.05rem;
  max-height: 100vh;
  max-width: 100%;
}
@media screen and (min-width: 992px) {
  .dialog__window {
    -webkit-transform: translateY(-3vh);
        -ms-transform: translateY(-3vh);
            transform: translateY(-3vh);
  }
}

.dialog__container {
  padding: 0.8rem;
}

.dialog__dismiss-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  max-height: 1.2rem;
  max-width: 1.2rem;
}
